p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    text-align: center;
}
/**
Aligned the icons. Padding was too specific to one size of viewport.
*/
.icons{
    text-align: center;
}

body {
    padding-bottom: 20px;
}
  
.navbar {
    margin-bottom: 20px;
}
